<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row><!--Cada user(que es una variable cualquiera) tendrá el valor de un usuario del array-->
      <ion-col *ngFor="let user of users | async" size-xl="3" size-lg="4" size-md="5" size-sm="8" size-xs="12" class="backColor">
        <ion-card class="backColorColum">
          <ioncard-content>

            <ion-avatar>
              <img [src]="user.picture.medium">
            </ion-avatar>

            <h1 class="names">{{ user.name.first }} {{ user.name.last }}</h1>
            <h6>Age: {{ user.dob.age }}</h6>
            <h6>Email: {{ user.login.username }}</h6>
            <h6><i>City: {{ user.location.city }}</i></h6>
          </ioncard-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
